.searchBar {
  width: 500px;
  height: 60px;
  padding: 0px 20px;
  font-size: 2rem;
  border-radius: 30px;
  border: transparent;
  background-color: rgba(255, 255, 255, 0.506);
  color: black;
}

input::placeholder {
  color: rgb(80, 80, 80);
}