.addButton {
  width: 30px;
  height: 30px;
  padding-bottom: 5px;
  border-radius: 50%;
  background-color: #ffbb00;
  color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  transition: 0.3s;
}

.addButton:hover {
  color: blueviolet;
  box-shadow: 0 0 20px #ffbb00;
}