.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: auto;
}

header {
  font-size: 3rem;
  font-weight: 900;
  background-color: rgba(137, 43, 226, 0.475);
  width: 100%;
  padding: 0 50px;
  margin-top: -15px;
  margin-left: 3rem;
  color: #ffbb00;
}

.icon {
  transform: scaleX(-1);
}

.bottomContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}