.playlistContainer {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 5px;
  width: 50rem;
  height: 32.5rem;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: rgba(137, 43, 226, 0.475);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 3px solid #ffbb00;
}

.playlistName {
  width: 47rem;
  background-color: rgba(55, 6, 100, 0.9);
  border-radius: 0;
  border-bottom: 2px solid #ffbb00;
  color: #ffbb00;
  flex-shrink: 0;
}

.playlistName::placeholder {
  color: #ffffff5e;
}

.saveButton {
  width: 275px;
  color: rgb(97, 33, 157);
  background-color: #ffbb00;
  align-self: center;
  margin-top: 20px;
  flex-shrink: 0;
  transition: 0.3s;
}

.saveButton:hover {
  color: rgb(97, 33, 157);
  box-shadow: 0 0 20px #ffbb00;
}

.track {
  color: #ffbb00;
}

.removeButton {
  width: 30px;
  height: 30px;
  font-size: 3rem;
  padding-bottom: 12px;
  border-radius: 50%;
  background-color: #ffbb00;
  color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  transition: 0.3s;
}

.removeButton:hover {
  color: blueviolet;
  box-shadow: 0 0 20px #ffbb00;
}